<% provide(:title, "Dodaj człowieka") %>
<% provide(:position, "Dodaj nowego człowieka") %>

<div class="single-column-content">
  <div class="form">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Imię", class: "label" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.radio_button :skater_status_id, SkaterStatus.first.id,
                         checked: true, class: "hidden" %>

      <%= f.submit "dodaj", class: "button submit" %>
    <% end %>
  </div>
</div>
