<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>
<% provide(:column_type, "rating") %>
<% content_for :js do %>
  <%= javascript_pack_tag 'show_activation' %>
<% end %>

<% content_for :info do %>
  <h1><%= @user.name %></h1>
  <div class="info-content">
    <h3>Informacje treningowe</h3>
    Status:
    <%= content_tag(:div, @user.skater_status.name, class: "cell",
      style: "background-color: #{@user.skater_status.color}" ) %>
  </div>
  <div class="info-content">
    <h3>Informacje o osobie</h3>
    <p> name: <%= @user.name %> </p>
    <p> email: <%= @user.email %> </p>
      <%= link_to "edytuj", edit_user_path(@user), class: "button add" %>
  </div>
  <div class="info-content">
    <h3>Informacje o koncie</h3>
    <p><%= @user.created_at.strftime("Dodana/-y %d.%m.%Y")  %></p>
    <p>Aktywny/-a?
      <% if @user.activated? %>
        tak
      <% else %>
        nie
      <% end %>
    </p>
    <% if !@user.activated? %>
      <p>wysłano maila do rejestracji?
        <% if @user.activating? %>
          tak
        <% else %>
          nie
        <% end %>
      </p>
    <% end %>

    <%= render 'users/user_activation' %>

    <% if current_user.admin? %>
    <hr>
      <%= link_to "usuń profil", @user, method: :delete, class: "delete",
                          data: { confirm: "Na pewno usunąć? Nie będzie można odzyskać danych" } %>
    <% end %>
  </div>

<% end %>

<% content_for :content do %>
  <%= render 'user_show_ratings' %>
<% end %>
