<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>
<% provide(:column_type, "rating") %>

<% content_for :info do %>
  <h2><%= @user.name %></h2>
  <div class="info-content">
    Status:
    <%= content_tag(:div, @user.skater_status.name, class: "cell",
      style: "background-color: #{@user.skater_status.color}" ) %>
  </div>
  <div class="info-content">
    wysłano maila? <% if @user.activating? %> tak <% else %> nie <% end %>
  </div>
  <div class="info-content">
    potwierdził maila? <% if @user.activated? %> tak <% else %> nie <% end %>
  </div>
  <div class="info-content">
    token: <%= @user.activation_token %>
  </div>
  <div class="info-content">
    digest: <%= @user.activation_digest %>
  </div>
  <div class="info-content">
    email: <%= @user.email %>
  </div>
  <div class="info-content">
    <%= @user.created_at.strftime("Dodana/-y %d.%m.%Y")  %>
  </div>

  <!-- <div>
    admin? <% if @user.admin? %> yes <% else %> no <% end %><br>
    coach? <% if @user.coach? %> yes <% else %> no <% end %><br>
    aktywny? <% if @user.activated? %> tak <% else %> nie <% end %>
    e
  </div> -->

  <%= link_to "edytuj", edit_user_path(@user), class: "button add" %>
  <% if current_user.admin? %>
    <%= link_to "usuń", @user, method: :delete, class: "button delete",
                        data: { confirm: "Na pewno usunąć?" } %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render 'user_show_ratings' %>
<% end %>
