<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>

<div class="column-page">
  <div class="info-column">
    <h2><%= @user.name %></h2>
    <div>
      <%= @user.created_at.strftime("Dodana/-y %d.%m.%Y")  %>
    </div>
    <%= link_to "usuń", @user, method: :delete, class: "delete",
    data: { confirm: "Na pewno?" } %>
  </div>

  <div class="rating-column">
    <h3>Oceny</h3>

    <% @skill_categories.each do |category| %>
      <div class="row">
        <div class="cell skill-category-cell">
          <strong><%= category.name %></strong>
        </div>
      </div>
      <% category.skills.each do |skill| %>
        <div class="row">
          <div class="cell skill-cell"><%= skill.name %></div>

            <%= link_to(path_to_new_rating(@user, skill)) do %>
              <div class="cell rating-cell">
                <%= rating_value(@user, skill) %>
              </div>
            <% end %>

        </div>
      <% end %>

    <% end %>
  </div>

</div>
