<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>
<% provide(:column_type, "rating") %>
<% content_for :js do %>
  <%= javascript_pack_tag 'toggle_show_hide' %>
<% end %>

<% content_for :info do %>
  <h1><%= @user.name %></h1>
  <div class="info-content">
    <%= render 'users/user_training_info' %>
  </div>
  <div class="info-content">
    <%= render 'users/user_personal_info' %>
  </div>
  <div class="info-content">
    <%= render 'users/user_profile_info' %>
  </div>

<% end %>

<% content_for :content do %>
  <%= render 'user_show_ratings' %>
<% end %>
