<% provide(:title, "Dodaj skilla") %>
<% provide(:position, "Dodaj nowego skilla") %>

<div class="single-box-page">
  <h1> Dodaj nowego skilla </h1>
  <div class="content-box">
    <div class="form">
      <%= form_with(model: @skill, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, "Nazwa", class: "label" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :skills_categories, "Kategoria", class: "label" %>
        <%= f.collection_select :skills_category_id, SkillsCategory.all, :id,
                                :name, class: "form-control" %>

        <%= f.submit "dodaj", class: "button submit" %>
      <% end %>
    </div>
  </div>
</div>
