<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>
<% provide(:column_type, "rating") %>

<% content_for :info do %>
  <h1> <%= @skill.name %> </h1>
  <div class="info-content content-box">
    <span>Kategoria:</span> <%= SkillsCategory.find(@skill.skills_category_id).name %>

  <%= link_to "edytuj", edit_skill_path(@skill), class: "text-button" %>
  <% if current_user.admin? %>
    <hr>
    <%= link_to "usuń", @skill, method: :delete, class: "text-button danger",
                        data: { confirm: "Na pewno usunąć?  Nie będzie można odzyskać danych" } %>
  <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <div id="skill-ratings">
    <%= render 'skill_show_ratings' %>
  </div>
<% end %>
