<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>

<div class="column-page">
  <div class="info-column">
    <h2> <%= @skill.name %> </h2>
    <p>categoria: <%= SkillsCategory.find(@skill.skills_category_id).name %></p>

    <%= link_to "usuń", @skill, method: :delete, class: "button delete",
              data: { confirm: "Na pewno usunąć?" } %>
  </div>

  <div class="rating-column">
    <h3>Oceny</h3>

    <% @users.each do |user| %>
      <div class="row">
        <div class="cell user-cell"><%= user.name %></div>

        <%= link_to(path_to_new_rating(user, @skill)) do %>
          <div class="cell rating-cell">
            <%= rating_value(user, @skill) %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
