<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>

<div class="column-page">
  <div class="info-column">
    <h2> <%= @skill.name %> </h2>
    <p>categoria: <%= SkillsCategory.find(@skill.skills_category_id).name %></p>

    <%= link_to "usuń", @skill, method: :delete, class: "button delete",
              data: { confirm: "Na pewno usunąć?" } %>
  </div>

  <div class="rating-column">
    <h3>Oceny</h3>

    <% @users.each do |user| %>
      <div class="row">
        <%= user_cell(user) %>

        <%= rating_cell(user, @skill, true) %>

      </div>
    <% end %>
  </div>
</div>
