<%= provide(:title, "Dodaj ocenę") %>
<%= provide(:position, "Dodaj ocenę") %>

<div class="single-page">
  poprzednia strona: <%= @previous_url %>
  <%= form_with(model: @rating, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :previous_url, @previous_url %>
    <p> Dodajesz ocenę dla:</p>
    <%= f.label :user_id, "#{@user.name}" %>
    <%= f.radio_button :user_id, @user.id, checked: true %><br>
    <%= f.label :skill_id, "#{@skill.name}" %>
    <%= f.radio_button :skill_id, @skill.id, checked: true %><br>

    <br>
    <p> Oceń: </p>
    <% 5.times do |n| %>
      <%= f.label :value, n+1 %>
      <%= f.radio_button :value, n+1 %><br>
    <% end %>

    <%= f.submit "oceń", class: "button" %>
  <% end %>
</div>
