<%= link_to content_tag(:div, "Strona główna", class: "sidebar-item sidebar-link"), root_url %>
<% if logged_in? %>
  <% if current_user.coach? %>
    <div class="coach-content">
      <div class="sidebar-item"><h3>opcje trenera</h3></div>
      <%= link_to content_tag(:div, "Wszystkie oceny", class: "sidebar-item sidebar-link"), '#' %>
      <%= link_to content_tag(:div, "Porównaj", class: "sidebar-item sidebar-link"), '#' %>
      <%= link_to content_tag(:div, "Oceń", class: "sidebar-item sidebar-link"), '#' %>
      <%= link_to content_tag(:div, "Lista ludzi", class: "sidebar-item sidebar-link"), users_path %>
      <%= link_to content_tag(:div, "Lista skillsów", class: "sidebar-item sidebar-link"), skills_path %>
    </div>
  <% end %>
  <div class="logged-in-content">
    <div class="sidebar-item"><h3>Moje konto</h3></div>
    <%= link_to content_tag(:div, "moje konto", class: "sidebar-item sidebar-link"), current_user %>
    <%= link_to content_tag(:div, "wyloguj", class: "sidebar-item sidebar-link"), logout_path, method: :delete %>
  <% if current_user.admin? %>
    <div class="admin-content">
      <div class="sidebar-item"><h3>Opcje admina</h3></div>
      <%= link_to content_tag(:div, "Panel kontrolny", class: "sidebar-item  sidebar-link"), admin_path %>
    </div>
  <% end %>
<% else %>
  <%= link_to content_tag(:div, "Zaloguj się", class: "sidebar-item  sidebar-link"), login_path %>
<% end %>
<div>
  <div class="sidebar-item"><h3>Inne</h3></div>
  <%= link_to content_tag(:div, "Pomoc", class: "sidebar-item  sidebar-link"), help_path %>
</div>
