
<ul class="nav-links sidebar-links horizontal-links">
  <li><%= link_to "Strona głowna", root_url %></li>
  <li><%= link_to "Pomoc", help_path %></li>
</ul>

<ul class="feedback-links sidebar-links">
  <h4>opcje</h4>
  <li><%= link_to "Porównaj", '/#' %></li>
  <li><%= link_to "Oceń", '/#' %></li>
  <li>
    Przeglądaj
    <ul class="horizontal-links">
      <li><%= link_to "ludzi", users_path %></li>
      <li><%= link_to "skillsy", '#' %></li>
    </ul>
  </li>
</ul>

<ul class="user-links sidebar-links">
  <h4>Moje konto</h4>
  <li><%= link_to "Moje oceny", '/#' %></li>
</ul>
