<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content-container">
      <header class="header">
        <h1><%= yield(:position) %></h1>
        <%= render 'layouts/menu_toggle' %>
      </header>
      <div class="page">
        <% flash.each do |mssg_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{mssg_type}") %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>

  </body>
</html>
