<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="content-container">
      <header class="header">
        <%= link_to root_url do %>
          <%= fa_icon "home" %>
        <% end %>
        <h1><%= yield(:position) %></h1>
        <%= render 'layouts/menu_toggle' %>
      </header>
      <div class="page">

        <%= render 'layouts/alerts' %>
        <div class="<%= page_type(yield(:page_type)) %>">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>

  </body>
</html>
