<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <header class="header">
      <%= fa_icon "bars", id: "sidebar-toggle", class: "menu-icon js-toggle" %>
      <%= link_to root_url do %>
        <%= fa_icon "home", class: "menu-icon" %>
      <% end %>
      <h1><%= yield(:position) %></h1>
    </header>
    <div class="content-container">
      <div class="page">

        <%= render 'layouts/alerts' %>

        <%= yield %>
      </div>
      <div id="sidebar" class="sidebar js-content-horizontal">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>


  </body>
</html>
