<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content-container">
      <header class="header">
        <h1><%= yield(:position) %></h1>
        <div class="menu-toggle">
          <% if current_page?(menu_path) %>
            <%= link_to "back", :back %>
          <% else %>
            <%= link_to 'menu', menu_path %>
          <% end %>
        </div>
      </header>

      <%= yield %>
    </div>

    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>

  </body>
</html>
